.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.todo-list-container {
    flex: 1;
    overflow: auto;
}

h1 {
    text-align: center;
    margin: 1rem 0;
}

form {
    display: flex;
    justify-content: center;
}

.todo-list-wrapper {
    display: flex;
    align-items: center;
    margin: 10px;
}

.todo-list-wrapper > span {
    flex: 1;
    padding: 0 10px;
}

.filter-button-wrapper {
    display: flex;
}

.filter-button-wrapper > button {
    flex: 1
}



